.navigation {
  &__list {
    @include marginPadding(0, 0);
    display: flex;
    column-gap: 40px;
  }

  &__item {
    @include marginPadding(0, 0);
    list-style: none;
  }

  &__button {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: $text-color;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.7;
    border: 0;
    cursor: pointer;
    transition: 0.1s ease-out;

    &:hover {
      opacity: 0.6;
    }

    &_dark-theme {
      color: $text-color_dark-theme;
    }

    &_active {
      color: $heading-color;
      opacity: 1;

      &_dark-theme {
        color: $heading-color_dark-theme;
        opacity: 1;
      }
    }

    &:hover {
      opacity: 0.75;
    }
  }
}
