.type {
  @include marginPadding(0, 0 0 50px 120px);
  display: flex;
  overflow-x: scroll;
  column-gap: 40px;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__item {
    list-style: none;
    width: 650px;
    height: 400px;
  }

  &__image {
    @include marginPadding(0, 0);
    width: 650px;
    height: 400px;
  }
}
