.bicycles {
  @include marginPadding(0 auto, 0);
  max-width: 1440px;

  &__menu {
    @include marginPadding(0 auto, 64px 120px 120px);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__heading {
    @include marginPadding(0, 0);
  }
}
