.track {
  @include marginPadding(0 auto, 0);
  position: relative;

  &__about-container {
    @include marginPadding(0, 0);
    display: flex;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  &__about {
    margin: 0;
    padding-right: 61.25%;
  }

  &__heading {
    @include marginPadding(0, 60px 0 50px 120px);
    width: 460px;
  }

  &__text {
    @include marginPadding(0, 0 0 80px 120px);
    width: 460px;
  }
}
