.grid {
  @include marginPadding(0 auto, 0 120px 60px);

  &__navigation {
    @include marginPadding(0, 0);
    display: flex;
    column-gap: 30px;

    &_hidden {
      display: none;
    }
  }

  &__item {
    @include marginPadding(0, 0);
    list-style: none;
    cursor: pointer;

    &:hover .grid__image {
      box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
    }
  }

  &__link {
    @include marginPadding(0, 0);
    text-decoration: none;
    color: #151515;
  }

  &__image {
    @include marginPadding(0, 20px);
    width: 340px;
    height: 340px;
    background-color: #f4f4f4;
    border-radius: 20px;
    transition: 0.1s ease-out;
  }

  &__name {
    @include marginPadding(0, 15px 0 0 6px);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    &_dark-theme {
      color: $heading-color_dark-theme;
    }
  }
}
