.grid {
  @include marginPadding(0 auto, 0 120px 60px);

  &__navigation {
    @include marginPadding(0, 0);
    display: flex;
    column-gap: 30px;

    &::-webkit-scrollbar {
      height: 0;
    }

    &_hidden {
      display: none;
    }
  }

  &__item {
    @include marginPadding(0, 0);
    list-style: none;
    cursor: pointer;

    &:hover .grid__image {
      box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
    }
  }

  &__link {
    @include marginPadding(0, 0);
    text-decoration: none;
    color: #151515;
  }

  &__image {
    @include marginPadding(0, 20px);
    width: 340px;
    height: 340px;
    background-color: #f4f4f4;
    border-radius: 20px;
    transition: 0.1s ease-out;
  }

  &__name {
    @include marginPadding(0, 15px 0 0 6px);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    &_dark-theme {
      color: $heading-color_dark-theme;
    }
  }

  &__scroll {
    @include marginPadding(36px auto 0, 0);
    display: none;
    column-gap: 5px;
    justify-content: center;
  }

  &__button-scroll {
    @include marginPadding(0, 0);
    background-image: url(../images/Ellipse\ 8.png);
    width: 4px;
    height: 4px;
    background-color: #cacaca;
    border: 0;
    opacity: 0.3;
    cursor: pointer;

    &_active {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1320px) {
  .grid {
    @include marginPadding(0 auto, 0 60px 60px);

    &__navigation {
      row-gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 960px) {
  .grid {
    @include marginPadding(0, 37px 0 0 0);

    &__image {
      @include marginPadding(0, 0);
      width: 254.11px;
      height: 254.11px;
    }

    &__name {
      @include marginPadding(0, 0);
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }

    &__navigation {
      overflow-x: scroll;
      column-gap: 0;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      flex-wrap: nowrap;
    }

    &__item {
      @include marginPadding(0, 0 14.95px 0);
      scroll-snap-align: center;
    }

    &__scroll {
      display: flex;
    }
  }
}
