.grid {
  margin: 0 auto;
  padding: 0 120px 60px;

  &__navigation {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 30px;

    &_hidden {
      display: none;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;

    &:hover .grid__image {
      box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
    }
  }

  &__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #151515;
  }

  &__image {
    margin: 0;
    padding: 20px;
    width: 340px;
    height: 340px;
    background-color: #f4f4f4;
    border-radius: 20px;
    transition: 0.1s ease-out;
  }

  &__name {
    margin: 0;
    padding: 22px 0 0 6px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
