.info {
  @include marginPadding(0, 84px 250px 205px 120px);
  max-width: 460px;

  &__heading {
    @include marginPadding(0, 0 0 45px 0);
  }

  &__name-container {
    display: flex;
    column-gap: 30px;
    align-items: center;
  }

  &__name {
    @include marginPadding(0, 0);
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    &_dark-theme {
      color: $heading-color_dark-theme;
    }
  }

  &__stripe {
    width: 130px;
    background-color: #d7d4d4;
    border: 1px solid rgba(215, 212, 212, 1);

    &_dark-theme {
      background-color: #707070;
      border: 1px solid rgba(112, 112, 112, 1);
    }
  }
}
