.popup {
  position: absolute;
  top: 347px;
  right: 370px;
  height: 430px;

  &__image {
    @include marginPadding(0, 20px 50px);
    width: 340px;
    height: 260px;
    box-shadow: -20px 60px 220px rgb(0 0 0 / 44%);
    border-radius: 20px;
    position: sticky;
    top: 347px;
    background-color: #f4f4f4;
  }
}

@media screen and (max-width: 360px) {
  .popup {
    top: 355px;
    right: 68px;
    height: 200px;

    &__image {
      @include marginPadding(0, 10.67px 26.59px);
      width: 180.82px;
      height: 138.67px;
    }
  }
}
