.symbol {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 706px;
  left: 120px;
  background-repeat: no-repeat;
  background-image: url(../images/track-highway-symbol.svg);
  display: flex;
  overflow-x: scroll;
  align-items: flex-end;

  &::-webkit-scrollbar {
    height: 0;
  }

  &__container {
    @include marginPadding(0, 0);
    width: 100px;
    height: 40px;
    position: absolute;
    top: 706px;
    left: 119px;
  }

  &__vector {
    @include marginPadding(0, 0 34px 12px 16px);
    width: 50px;
    display: flex;
  }
}

@media screen and (max-width: 360px) {
  .symbol {
    width: 70px;
    height: 28px;
    top: 253px;
    left: 0;
    background-size: 70px;

    &__vector {
      width: 35px;
    }
  }
}