.quote {
  @include marginPadding(0 auto, 0);
  max-width: 1440px;
  display: flex;
  column-gap: 80px;

  &__image {
    @include marginPadding(0, 120px 0 60px 120px);
    max-width: 650px;
  }

  &__text {
    @include marginPadding(0, 120px 120px 60px 0);
    max-width: 470px;
  }

  &__heading {
    @include marginPadding(0, 0);
    min-height: 392px;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;
    color: $heading-color;

    &_dark-theme {
      color: $heading-color_dark-theme;
    }
  }

  &__name {
    @include marginPadding(0, 0 0 6px 0);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: $heading-color;

    &_dark-theme {
      color: $heading-color_dark-theme;
    }
  }

  &__speciality {
    @include marginPadding(0, 0);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $text-color;
    opacity: 0.7;

    &_dark-theme {
      color: $text-color_dark-theme;
    }
  }
}

@media screen and (max-width: 360px) {
  .quote {
    flex-direction: column;

    &__image {
      @include marginPadding(0 auto, 60px 0 40px);
      width: 284px;
      height: 204px;
    }

    &__text {
      @include marginPadding(0 auto, 0);
    }

    &__heading {
      font-style: normal;
      font-size: 23px;
      line-height: 29px;
      max-width: 284px;
      min-height: 127px;
    }

    &__name {
      font-size: 14px;
      line-height: 22px;
    }

    &__speciality {
      font-size: 10px;
      line-height: 16px;
    }
  }
}
