.popup-menu {
  @include marginPadding(0, 0);
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;

  &_dark-theme_on {
    background-color: #333333;
  }

  &__container {
    position: relative;
  }

  &__button-close {
    @include marginPadding(0, 0);
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 25px;
    right: 19px;
    transition: 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__image {
    width: 18px;
  }

  &__container {
    @include marginPadding(0 auto, 70px 0 0 0);
    max-width: 210px;
    list-style: none;
    text-align: center;
  }

  &__item {
    @include marginPadding(0, 0 0 32px 0);
  }

  &__link {
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__switcher {
    @include marginPadding(0, 309px 0 0 0);
    margin: 0 auto;
    display: flex;
    column-gap: 22px;
    position: static;
    align-items: center;
    justify-content: center;
  }

  &_hidden {
    display: none;
  }
}
