.footer {
  @include marginPadding(0px, 0 auto);
  background-color: $background-color;

  &_dark-theme {
    background-color: $background-color_dark-theme;
  }

  &__container {
    @include marginPadding(0, 80px 0 60px 120px);
    max-width: 360px;
    position: relative;
  }

  &__heading {
    margin: 0;
    padding-bottom: 50px;
    max-width: 229px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $heading-color;

    &_dark-theme {
      color: $heading-color_dark-theme;
    }
  }

  &__form {
    @include marginPadding(0 0 100px 0, 11px 20px);
    width: 320px;
    height: 50px;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: #222222;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.7;
    border: 1px solid rgba(199, 199, 199, 0.5);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      color: #151515;
    }

    &_dark-theme {
      color: #ffffff;
      opacity: 0.7;
      border: 1px solid rgba(125, 125, 125, 0.5);

      &:hover {
        opacity: 1;
      }
    }
  }

  &__submit {
    @include marginPadding(0, 0);
    position: absolute;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0);
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    text-align: right;
    width: 16px;
    height: 28px;
    border: none;
    top: 217px;
    left: 436px;
    cursor: pointer;
    display: none;

    &_on {
      display: block;
    }
  }

  &__privacy {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #cfcfcf;

    &_dark-theme {
      color: #565656;
    }
  }

  &__switcher {
    @include marginPadding(0, 0);
    display: flex;
    column-gap: 22px;
    position: absolute;
    right: 123px;
    bottom: 70px;
    align-items: center;
  }

  &__light {
    &_dark-theme {
      opacity: 0.3;
    }
  }

  &__dark {
    &_dark-theme {
      opacity: 0.3;
    }
  }

  &__button {
    @include marginPadding(0, 0);
    height: 24px;
    width: 44px;
    border-radius: 9999px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 0.3s;

    &_dark-theme {
      background: rgba(84, 84, 84, 1);
    }

    &::after {
      content: "";
      height: 20px;
      width: 20px;
      border-radius: 9999px;
      background: #24b47e;
      top: 2px;
      left: 2px;
      transition-duration: 0.3s;
      position: absolute;
      z-index: 1;
    }

    &_on::after {
      left: 22px;
    }
  }
}
