.menu {
  &__container {
    @include marginPadding(0 120px 0 0, 0);
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 34px;
  }

  &__item {
    @include marginPadding(0, 26px 0);
  }

  &__link {
    color: $heading-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &_dark-theme {
      color: $heading-color_dark-theme;
    }

    &:hover {
      opacity: 0.75;
    }
  }
}

@media screen and (max-width: 960px) {
  .menu {
    &__container {
      @include marginPadding(0, 144px 0 0 0);
      flex-direction: column;
      align-items: center;
      row-gap: 32px;
    }

    &__item {
      @include marginPadding(0, 0);
    }

    &__link {
      font-style: normal;
      font-size: 18px;
    }
  }
}
