$background-color: #d7d7d7;
$background-color_dark-theme: #333333;
$font-stack: "Inter", "Helvetica Neue", Arial, sans-serif;
$heading-color: #151515;
$text-color: #222222;
$heading-color_dark-theme: #FFFFFF;
$text-color_dark-theme: #E6E6E6;