$font-stack: "Inter", "Helvetica Neue", Arial, sans-serif;

$background-color: #f4f4f4;
$background-color_dark-theme: #333333;

$heading-color: #151515;
$text-color: #222222;

$heading-color_dark-theme: #ffffff;
$text-color_dark-theme: #e6e6e6;
