.about {
  @include marginPadding(0 auto, 0);
  max-width: 1440px;
  min-height: 856px;
  position: relative;
  display: flex;

  &__image {
    width: 610px;
    height: 836px;
    margin-top: 21px;
  }
}

@media screen and (max-width: 360px) {
  .about {
    min-height: 746px;
    flex-direction: column;

    &__image {
      display: none;
    }
  }
}
