.about {
  @include marginPadding(0 auto, 0);
  max-width: 1440px;
  min-height: 856px;
  position: relative;
  display: flex;

  &__image {
    width: 610px;
    height: 836px;
    margin-top: 20px;
    border: 0;
  }
}
