.training {
  @include marginPadding(0 auto, 0);
  display: flex;
  column-gap: 160px;

  &__heading {
    @include marginPadding(0, 153px 0 45px 120px);
    max-width: 460px;
  }

  &__description {
    @include marginPadding(0, 0 0 0 120px);
    min-height: 322px;
    max-width: 460px;
  }

  &__menu {
    @include marginPadding(0, 0 0 120px 120px);
    max-width: 460px;
  }

  &__list {
    @include marginPadding(0, 0);
    display: flex;
    column-gap: 30px;
  }

  &__item {
    list-style: none;
  }

  &__link {
    @include marginPadding(0, 0);
    min-height: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #151515;
    text-decoration: none;
    transition: 0.1s ease-out;

    &_dark-theme {
      color: $heading-color_dark-theme;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  &__image {
    @include marginPadding(0, 150px 120px 120px 0);
    width: 580px;
    height: 460px;
  }
}
